## MS SQL SERVER CLASS

Aplicação de conceitos para criação, manutenção e extração de dados de um banco de dados. Não inclue projetos de bancos de dados.

0 - O que é SQL? 

1 - Necessidade, Flavors e Elementos de um banco de dados.

2 - Regras de Nomeação, comentários e formatação.  

3 - Database exemplo para o curso. 
    
4 - Conceitos de Normalização  
    
5 - Tipos de dados

6 - Instruction lists to cover
https://www.w3schools.com/sql/sql_quickref.asp
https://www.w3schools.com/sql/sql_ref_sqlserver.asp

6 - Alter operations with tables:  
    Create table  
    Alter table  
    
7 - Data operations  
    Insert
    Drop table  
    Truncate table   
    Update  
    Delete  

8 - Temporary Tables and variables

8 - Select operations
    AND, OR, NOT
    
9 - Synonyms

10 - CTE

11 - Indices em tabelas

### 0 -  SQL - Structured Query Language

https://www.bitdegree.org/learn/what-is-sql

https://www.w3schools.com/sql/sql_intro.asp

 ### 1 - Necessidade flavors e Elementos de um banco de dados  
 
 #### Necessidade: Armazenar dados para uma aplicação: Configuração, Cadastros, Dados transacionais e outros. 
    
 #### Alguns DBs mais usados hoje:
    * SQL - MySql (www.mysql.com) , Postgre(www.postgresql.org), SQLite(www.sqlite.org), MSSQL (https://www.microsoft.com/pt-br/sql-server/sql-server-2019), Oracle (www.oracle.com/br/index.html)
    
    * NOSQL - MariaDB, MongoDB, etc 
    
 #### Conteúdo padrão de um Banco de dados:

    * Tables - Armazenam os dados  
        * Temporary Tables  
    * Functions - Altera dados / Faz cálculos  
        * Custom Functions  
        * SQL server Functions  
    * Procedures - Execução de código para alterar dados de uma tabela.  
    * Triggers - Execução de procedure quando os dados de uma tabela são alterados.  
    * Views - exibição de dados das tabelas calculados, formatados, filtrados e classificados.  
    * Usuários e permissões:  
        Usuários do banco e do domínio 
        SA - system admin  

        ALTER permissions  
        SELECT permissions  
        WRITE permissions  


#### DML (Linguagem de Manipulação de Dados) – É um conjunto de instruções usada nas consultas e modificações dos dados armazenados nas tabelas do banco de dados.

Alguns Exemplos:

SELECT -> Recupera linhas do banco de dados e permite a seleção de uma ou várias linhas ou colunas de uma ou várias tabelas 

INSERT -> Instrução utilizada para inserir dados a uma ou mais tabelas no banco de dados 

UPDATE -> Instrução utilizada para atualizar dados de uma ou mais tabelas no banco de dados

DELETE -> Instrução utilizada para excluir dados de uma ou mais tabelas no banco de dados

MERGE -> Realiza operações de inserção, atualização ou exclusão em uma tabela de destino com base nos resultados da junção com a tabela de origem

BULK INSET -> Importa um arquivo de dados em uma tabela ou exibição do banco de dados em um formato especificado pelo usuário


#### DDL (Linguagem de Definição de Dados) – É um conjunto de instruções usado para criar e modificar as estruturas dos objetos armazenados no banco de dados.

Alguns Exemplos:

ALTER -> Use as instruções ALTER para modificar a definição de entidades existentes. Use ALTER TABLE para adicionar uma nova coluna a uma tabela ou use ALTER DATABASE                                   para definir opções do banco de dados.

CREATE -> Use instruções CREATE para definir novas entidades. Use CREATE TABLE para adicionar uma nova tabela em um banco de dados.

DROP -> Use instruções DROP para remover entidades existentes. Use DROP TABLE para remover uma tabela de um banco de dados.

DISABLE TRIGGER -> Desabilita uma Trigger DML, DDL ou de logon.

ENABLE TRIGGER -> Habilita uma Trigger DML, DDL ou de logon.

TRUNCATE TABLE -> Remove todas as linhas de uma tabela sem registrar as exclusões de linhas individuais.

UPDATE STATISTICS -> Atualiza estatísticas de otimização de consulta de uma tabela ou view indexada.

 

#### DCL (Linguagem de Controle de Dados) – São usados para controle de acesso e gerenciamento de permissões para usuários em no banco de dados. Com eles, pode facilmente permitir ou negar algumas ações para usuários nas tabelas ou registros (segurança de nível de linha).


Alguns Exemplos:

GRANT -> Atribui privilégios de acesso do usuário a objetos do banco de dados.

REVOKE -> Remove os privilégios de acesso aos objetos obtidos com o comando GRANT.

DENY -> O comando é usado para impedir explicitamente que um usuário receba uma permissão específica.



#### TCL (Linguagem de Controle de Transações) – São usados ​​para gerenciar as mudanças feitas por instruções DML . Ele permite que as declarações a serem agrupadas em transações lógicas.


Alguns Exemplos:

COMMIT -> É usado para salvar permanentemente qualquer transação no banco de dados.

ROLLBACK -> Este comando restaura o banco de dados para o último estado commited.

### 2 - Regras de Nomeação

Reasons for using a naming convention (as opposed to allowing programmers to choose any character sequence) 
include the following:

    To reduce the effort needed to read and understand source code.
    To enable code reviews to focus on more important issues than arguing over syntax and naming standards.
    To enable code quality review tools to focus their reporting mainly on significant issues other than syntax and style preferences.
    
    Tabelas, views,etc:
        * Todos os elementos são nomeados conforme a seguir:
        [ServerName].[database_name].[schema].[element_name]

    Algumas regras gerais:
        1- Nomes que explicam o que o objeto faz:
            Tabela "product", procedure "apply_discount_adjustment", view: "produtos_inativos", etc.
        2- Usar underscore _ no lugar no espaço.
        3- Não usar acentos. Dê preferência para palavras em inglês.
        4- Tabelas e Procedures - não usar plural.
        
SQL commands UPPERCASE
tables, views,etc - table_name

source: https://www.sqlstyle.guide/pt-br/

### 3 - DBs de exemplo para começar

https://github.com/pleasereleaseme/ContosoUniversity/tree/master/ContosoUniversity.Database/dbo/Tables

### 4 - Conceitos de Normalização

https://www.sqlshack.com/what-is-database-normalization-in-sql-server/

### 5 - Tipos de dados

#### https://docs.microsoft.com/pt-br/sql/t-sql/data-types/ntext-text-and-image-transact-sql?view=sql-server-ver15  

<table  style="text-align:left;">
    <tr>
        <th>Tipo de dados</th>
        <th style="text-align:left;">Intervalo</th>
        <th>Armazenamento</th>
    </tr>
    <tr>
        <td>bigint</td>
        <td>-2^63 (-9.223.372.036.854.775.808) a 2^63-1 (9.223.372.036.854.775.807)</td>
        <td>8 bytes</td>
    </tr>
    <tr>
        <td>int</td>
        <td>-2^31 (-2.147.483.648) a 2^31-1 (2.147.483.647)</td>
        <td>4 bytes</td>
    </tr>
    <tr>
        <td>smallint</td>
        <td>-2^15 (-32.768) a 2^15-1 (32.767)</td>
        <td>2 bytes</td>
    </tr>
    <tr>
        <td>tinyint</td>
        <td>0 a 255</td>
        <td>1 byte</td>
    </tr>
    <tr>
        <td>money</td>
        <td>-922,337,203,685,477.5808 to 922,337,203,685,477.5807 (-922,337,203,685,477.58
to 922,337,203,685,477.58</td>
        <td>8 bytes</td>
    </tr>
    <tr>
        <td>smallmoney</td>
        <td>- 214,748.3648 to 214,748.3647</td>
        <td>4 bytes</td>
    </tr>
    
</table>

* Numéricos exatos  
    **bigint**  
    **numeric**  
    **bit**  
    smallint  
    **decimal**  	
    smallmoney  
    **int**  
    tinyint  
    **money**  	
</br>
* Numéricos aproximados  
    **float**  
    **real**  
  
* Data e hora  
    date  
    datetimeoffset  
    datetime2  
    smalldatetime  
    **datetime**  
    time  
    
* Cadeias de caracteres  
    **char**  
    **varchar**  
    **text**  

* Cadeias de caracteres Unicode  
    **nchar**  
    **nvarchar**  
    ntext  

* Cadeia de caracteres binária 
    binary  
    varbinary  
    imagem  
    
* Outros tipos de dados  
    cursor  
    rowversion  
    hierarchyid  
    uniqueidentifier  
    sql_variant	xml  
    Tipos de geometria espacial  	
    table  
    xml  
    NULL


#### Select  
Select Distinct  
Where  
And, Or, Not  
Order By  
Insert Into  
Null Values  
Update  
Delete  
Select Top  
Min and Max  
Count, Avg, Sum  
Like  
Wildcards  
In  
Between  
Aliases  
Joins  
Inner Join  
Left Join  
Right Join  
Full Join  
Self Join  
Union  
Group By  
Having  
Exists  
Any, All  
Select Into  
Insert Into Select  
Case  
Null Functions  
Stored Procedures  
Comments  

#### Database  
Create DB  
Drop DB  
Backup DB  
Create Table  
Drop Table  
Alter Table  
Constraints  
Not Null  
Unique  
Primary Key  
Foreign Key  
Check  
Default  
Index  
Auto Increment  
Dates  
Views  
Injection  
Hosting